@model ERP.Models.Mandate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mandate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Countries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Countries.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntitlementTypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntitlementTypes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MandateDestination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MandateDestination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffDaysCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffDaysCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
